<!DOCTYPE html>
<html>
<head>
    <title>Trello GPT Tasks</title>
</head>
<body>
    <h1>Trello Tasks</h1>
    <table>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Description</th>
                <th>Sub Tasks</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.subtasks }}</td>
                <td>{{ task.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
